doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        meta(name='viewport' content='width=device-width')
        link(rel="icon" href="favicon.ico" type="img/x-icon")
        link(rel="stylesheet", href="bower/normalize-css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        title lending

    body
        .wrapper
            header
                .contacts
                    ul.phones
                        li Россия
                            br
                            h4 8 804 333 7057

                        li Казахстан
                            br
                            h4 7 727 350 81 90
                        li Украина
                            br
                            h4 0 800 20 1030
                .bottom
                    h1 У вас уже есть личный финансовый коуч?
                    p.subtitle Узнайте, как начать эффективно управлять деньгами с помощью личного финансового коуча
                    form.register
                        h4 Зарегистрируйтесь и получите первую консультацию безплатно
                        input(type="name" placeholder="Введите ваше имя")
                        input(type="text" placeholder="Ваша почта")
                        input(type="text" placeholder="Телефон")
                        button(type="submit") Начать бесплатно
            section
                .content
                    h3 Что делает финансовый коуч?
                    P Личный финансовый коуч поможет проанализировать вашу текущую финансовую ситуацию составит индивидуальную
                    p стратегию развития, расскажет как избежать основных ошибок и эмоциональных ловушек.
                    p Планируйте финансовое будущее с помощью личного финансового коуча, научитесь эффективно управлять деньгами
                    p и начните жить так,  всегда мечтали!


                .reviews
                    h3 Отзывы
                    ul.reviews_users
                        li
                             img.user( alt="user"  style="width:100px; background:gray; height:100px; border-radius:50%")
                             p &laquo;Я был уверен, что у меня всё впорядке с финансами, раз хватает от зарплаты до зарплаты.
                             p Когда составили общую картину доходов и расходов, увидели ,что за месяц  в среднем 25 000 рублей
                             p я трачу на всякую ерунду - за год мог машину купить! Сейчас научился боротся с незаметными
                             p расходами, секономленные деньги начали работать.&raquo;
                             p -Игорь М.,Москва
                        li
                             img.user( alt="user" style="width:100px; background:gray; height:100px; border-radius:50%")

                             p  &laquo;Я не верю в экономию. Чтобы больше получать, нужно больше зарабатывать, вот и всё. Поэтому вопрос
                             p как раз в том, как зарабатывать больше 150 000 рублей не работая на трех работах. А ответ в том - что,
                             p работать должны не только вы, но и деньги. И есть готовые , проверенные стратегии ,как это сделать.&raquo;
                             p - Андрей Р., Благовещенск

                        li
                            img.user( alt="user" style="width:100px; background:gray; height:100px; border-radius:50%")
                            p &laquo;Я всегда думал, что управление капиталом - это для миллионеров, а 30 000-50 000 рублей проще
                            p просто потратить. В итоге сумарно потратил столько, что можно было бы уже не рботать ,если бы эти
                            p деньги работали даже в самом спокойном режиме. Приумножить можно любую сумму.&raquo;
                            p - Сергей К., Челябинск








